* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.main-title,
.contact-me, 
.main-content {
    color: #FFFFFF;
}

.list,
.page-text h1,
.txt-header,
.brilliant-txt,
.names,
.main-title,
.follow,
.footer-link,
.subscribe h2,
.follow h2 { 
    font-family: "playfair";
}

.my-work,
.box-date,
.page-text p,
.contact-me,
.contact-text,
.button,
.span-footer  {
    font-family: "montserrat-regular";
}

.after-footer {
    font-family: "zapfino";
}

.contact-text {
    color: #D6A091;
    text-align: center;
    margin-top: 50px;
}

.input-contact {
    margin-top: 50px;
    width: 450px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 220px) ;
    grid-template-rows: repeat(4, 50px) ;
    gap: 15px;
    margin-top: 100px;
}

.first-name {
    padding-left: 20%;
    background-color: #333333;
}

.last-name {
    background-color: #333333;
    padding-left: 10%;
    grid-column-start: 2;
    grid-column-end: 3;
}

.email {
    background-color: #333333;
    padding-left: 10%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.description {
    color: #666666;
    background-color: #333333;
    padding-left: 10%;
    padding-top: 3%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.button {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #D69991;
    gap: 10px;
    margin-bottom: 100px;
}

.accept-button {
    width: 15px;
    height: 15px;
}    
  
.main-bg {
    background-color: #222222;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 120px;
}

.page-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 200px;
}

.page-text h1 {
    font-size: 88px;
    line-height: 104px;
    letter-spacing: -2.2px;
    padding-bottom: 10px;
}

.page-text p {
    color: #888888;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0.7;
    max-width: 1000px;
}

.contact-me-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #D69991;
    width: 352px;
    height: 113px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 2.4px;
    margin-top: 50px;
}

.arrow-contact {
    height: 30px;
}

.slider-images {
    position: relative;
    max-width: 1900px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(6,315px);
    grid-template-rows: 350px;
}

.follow-ell {
    background-color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    position: absolute;
    font-style: italic;
    font-size: 40px;
    line-height: 96px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slider-box {
    background-color: #BBBBBB;
    width: 315px;
    height: 350px;
}

.slider-box:nth-child(even) {
    transform: translate(0, 40px);
    box-shadow: 0px 2px 42px 0px rgba(0,0,0,0.75);
}

footer {
    background-color: #222222;
}

.footer {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(1, 150px);
    gap: 50px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.footer-container {
    padding-top: 30px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
}

.about {
    font-size: 30px;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
    align-items: center;
    text-decoration: none;
}

.footer-link {
    text-decoration: none;
    color: #FFFFFF;
}

.follow {
    padding-top: 20px;
    padding-left: 90px;
    width: 400px;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
    align-items: center;
}

.royal {
    text-decoration: underline;
    color:#888888;
}

h2 { 
    font-size: 25px;
    color: #FFFFFF;
}

.footer-logos {
    display: flex;
    gap: 10px;
}

.footer-icons {
    height: 35px;
    width: 35px;
}

.subscribe {
    padding-top: 20px;
}

.span-footer {
    color: #888888;
}

.email-address {
    margin-top: 15px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 50px;
    background-color: #EEEEEE26;
    align-items: center;
    position: relative;
}

.arrow {
    width: 20px;
    height: 20px;
}

.arrow-button {
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D69991;
    position: absolute;
    right: 0;
}


.footer-email {
    padding-bottom: 15px;
    padding-left: 15px;
    border: none;
    width: 500px;
    height: 50px;
    background-color:#EEEEEE26 ;
}

.footer-h2::before {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1100px;
    height: 3px;
    background-color: #333333;
}

.footer-h2 {
    padding-top: 130px;
    text-align: center;
}

.after-footer {
    line-height: 150px;
    color: #666666;
}

.header-parent {
    color: #888888;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-header { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    margin-left: 150px;
}

.list,
.txt-header { 
    display: flex;
    gap: 50px;
    font-size: 30px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0.4px;
    text-align: center;
}

.social-header { 
    display: flex;;
    justify-content: center;
}

.logo-header { 
    display: flex;
    gap: 13px;
    margin-left: 30px;
}

.image { 
    display: flex;
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

.slider-width {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 850px;
}

.slider::after { 
    content: "";
    width: 220px;
    height: 4px;
    display: block;
    background-color: #D6A091;
    margin-top: 110px;
}

.main-pg-container { 
    max-width: 1100px;
    height: 100px;
    background-color: #AAAAAA;
    height: 400px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.brilliant-txt { 
    font-size: 50px;
    letter-spacing: -0.72px;
    text-align: center;
}

.my-work { 
    font-size: 10px;
    font-size: 28px;
    letter-spacing: 2.79px;
    text-align: center;
}

.work::after { 
     content: "";
     width: 23px;
     height: 2px;
     display: inline-block;
     background-color:  white;
     margin-bottom: 8px;
     margin-left: 25px;
}

.work::before { 
    content: "";
     width: 23px;
     height: 2px;
     display: inline-block;
     background-color:  white;
     margin-bottom: 8px;
     margin-right: 28px;
}

.grid { 
    display: grid;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 35px;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1100px;
    height: 1000px;
}

.box-date {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: 0 auto;
}

.grid-box { 
    background-color: #AAAAAA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: -1.1px;
}

.names {
    font-weight: 100;
    font-size: 50px;
    letter-spacing: -1.1px;
    line-height: 80px;
}

.grid-box-underline::after {
    display: block;
    content: "";
    width: 20px;
    height: 4px;
    background-color: #FFFFFF80;
    margin: 0 auto;
    margin-top: 20px;
}
